@import "../../../assets/styles/index.scss";

.body {
  display: flex;
  flex-grow: 1;
  background: #57a8a9;
  padding: 50px 40px;
}

.content {
  display: flex;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
  }
}
