@import "../../../assets/styles/index.scss";

.body {
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-grow: 1;
  background: #57a8a9;
  padding: 50px 10px;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
    padding: 50px 40px;
  }
}

.content {
  display: flex;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
  }
}

.desktopIcons {
  // width: 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @include tablet {
    flex-direction: column;
  }
}
