@import "../../../assets/styles/index.scss";

.menuSelector {
  position: absolute;
  display: none;
  flex-direction: column;
  bottom: 0;
  left: 0;
  min-width: 97px;
  // filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  box-shadow: inset -2px -2px 0px #262626, inset 2px 2px 0px #f0f0f0,
    inset -4px -4px 0px #7e7e7e;
  background: $gray-300;
}

.isVisible {
  display: flex;
}

.option {
  position: relative;
  font-weight: 400;
  font-size: 26px;
  line-height: 24px;
  padding: 24px;
  height: 72px;
  width: 310px;
  box-sizing: border-box;
  display: flex;

  &:hover {
    background: $primary;
    color: $onPrimary;
    cursor: pointer;
  }

  &:active {
    background: $primary;
    color: $onPrimary;

    .moreOptions {
      color: $onPrimary;
    }
  }
}

.optionText {
  align-self: center;
}

.moreOptions {
  position: absolute;
  left: 97%;
  top: 50%;
  color: $black;
  transform: translate(-50%, -50%);
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
}
