@import "../../../assets/styles/index.scss";

.desktopIcon {
  margin: 20px;
  width: 120px;
  text-align: center;
  cursor: pointer;
}

.name {
  color: $white;
  font-size: 17px;
  padding-top: 6px;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    text-decoration-color: $white;
  }
}
