@import "./assets/styles/index.scss";

.form {
  font-size: 20px;
  padding-bottom: 15px;
}

.query {
  margin: 5px 10px;
  padding: 0 5px;
  box-sizing: border-box;
  height: 23px;
  border-radius: 0;
  background: $gray-50;

  &:focus {
    outline-color: $linkBlue;
    border-radius: 0;
  }
}

.menuCountrySelector {
  left: 311px;
  display: none;

  @include tablet {
    display: flex;
  }
}
.menuOptions {
  display: none;

  @include tablet {
    display: flex;
  }
}

.optionsCountry {
  height: 30px;
}

.textCountryOption {
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.countryWindow {
  height: 570px;
  @include tablet {
    height: 640px;
    width: 600px;
  }
}
