@import "./assets/styles/index.scss";

.form {
  font-size: 20px;
  padding-bottom: 15px;
}

.query {
  margin: 5px 10px;
  padding: 0 5px;
  box-sizing: border-box;
  height: 23px;
  border-radius: 0;
  background: $gray-50;

  &:focus {
    outline-color: $linkBlue;
    border-radius: 0;
  }
}

.menuCountrySelector {
  left: 311px;
}
.menuOptions {
  @include tablet {
    margin: 0 102px;
  }
}

.windowCountryCard {
  @include tablet {
    position: absolute;
    left: 410px;
    top: 119px;
  }
}

.optionsCountry {
  height: 30px;
}

.textCountryOption {
  font-size: 20px;
  @include ellipsis;
}

.countryWindow {
  height: 570px;
  @include tablet {
    max-height: 100%;
    width: 600px;
  }
}
